option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: 'prod'
    APP_URL: '{{resolve:ssm:/OS_FB/APP_URL:1}}'
    PORT: '{{resolve:ssm:/OS_FB/PORT:1}}'
    FB_APP_ID: '{{resolve:ssm:/OS_FB/APP_ID:1}}'
    FB_APP_KEY: '{{resolve:ssm:/OS_FB/APP_KEY:1}}'
    OS_API_ENDPOINT: '{{resolve:ssm:/OS_FB/OS_API_EP:1}}'
    OS_MALL_ID: '{{resolve:ssm:/OS_FB/MALL_ID:1}}'
    OS_MALL_KEY: '{{resolve:ssm:/OS_FB/MALL_KEY:1}}'
    DB_HOST: '{{resolve:ssm:/OS_FB/DB_HOST:1}}'
    DB_USER: '{{resolve:ssm:/OS_FB/DB_USER:1}}'
    DB_PASSWORD: '{{resolve:ssm:/OS_FB/DB_PASSWORD:1}}'
    DB_NAME: '{{resolve:ssm:/OS_FB/DB_NAME:1}}'
    S3_ACCESS_ID: '{{resolve:ssm:/OS_FB/S3_ID:2}}'
    S3_ACCESS_KEY: '{{resolve:ssm:/OS_FB/S3_KEY:2}}'
    S3_REGION: '{{resolve:ssm:/OS_FB/S3_REGION:1}}'